
#title {
  margin-left: 35%;
  margin-top: 50px;
  font-size: 40px;
  color: black;
  /* background-color: white; */
  border-radius: 30px;
  font-family: Comic Sans MS;
  text-shadow: 1px 1px #ff0000;
  /* padding: 5px; */
}

#canvas {
  background-image: url("https://s22.postimg.cc/791yje2a9/new_BG.png");
  border-width: thin;
  border-color: black;
}

#startGamebtn {
  display: block;
  background-color: white;
  color: black;
  padding: 15px 22px;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 5%;
  font-family: Comic Sans MS;
}

#startGamebtn:hover {
  background-color: #008CFF;
}

#mute-btn {
  background-color: white;
  color: black;
  padding: 15px 22px;
  font-size: 16px;
  /* font-weight: bold; */
  border-radius: 20px;
  font-family: Comic Sans MS;
  margin-left: 5%;
}

#mute-btn:hover {
  background-color: #008CFF;
}

#instructions {
  /* margin-top: 10%; */
  background-color: white;
  display: inline-block;
  padding: 10px;
  width: 21.5%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  text-align: left;
}

#controls {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

#linkedin {
  background-color: darkgray;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#github {
  background-color: darkgray;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

body {
  font-family: Comic Sans MS;
  display: block;
  justify-content: center;
  /* background-color: #008CFF; */
  /* background-image: linear-gradient(blue, lightblue); */
}

html {
  background-image: linear-gradient(90deg, orange, yellow);
}
