
#title {
  margin-left: 35%;
  margin-top: 50px;
  font-size: 40px;
  color: black;
  /* background-color: white; */
  border-radius: 30px;
  font-family: Comic Sans MS;
  text-shadow: 1px 1px #ff0000;
  /* padding: 5px; */
}

#canvas {
  background-image: url("https://s22.postimg.cc/791yje2a9/new_BG.png");
  border-width: thin;
  border: 5px solid gray;
}

#startGamebtn {
  display: block;
  background-color: #018DF0;
  color: white;
  padding: 15px 22px;
  font-size: 16px;
  border-radius: 20px;
  border-color: black;
  box-shadow: 5px 5px gray;
  font-weight: bold;
  margin-top: 5%;
  /* margin-left: 5%; */
  font-family: Comic Sans MS;
}

#startGamebtn:hover {
  background-color: #018DF0;
  color: black;
}

#startGamebtn:focus {
  outline: 0;
}

#mute-btn {
  background-color: #018DF0;
  color: white;
  border-color: black;
  box-shadow: 5px 5px gray;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  font-family: Comic Sans MS;
}

#mute-btn:hover {
  background-color: #018DF0;
  color: black;
}

#mute-btn:focus {
  outline: 0;
}

#instructions {
  /* margin-top: 10%; */
  background-color: white;
  border: 4px solid black;
  display: inline-block;
  padding: 10px;
  width: 21.5%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  text-align: left;
  /* margin-left: 5%; */
}

#controls {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

#linkedin {
  /* height: 65px; */
  margin-left: 25px;
  /* display: inline-block; */
  text-decoration: none;
  background-color: transparentl;
  height: 75px;
}

a {
  width: 100px;
}
/* img {
  height: 50px;
  width: 100px;
} */

#gitHub {
  margin-left: 25px;
  /* display: inline-block; */
  background-color: transparent
  text-decoration: none;
  /* margin-bottom: 25px; */
}

.logos {
  display: flex;
  flex-direction: column;
  /* margin-top: -40px; */
  margin-bottom: 10px;
  border: 5px dotted black;
  width: 125px;
}

body {
  margin-left: 25px;
  font-family: Comic Sans MS;
  display: block;
  justify-content: center;
  /* background-color: #008CFF; */
  /* background-image: linear-gradient(blue, lightblue); */
}

html {
  background-image: linear-gradient(90deg, orange, yellow);
}
